version: '3.8'

services:
  cliente:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    volumes:
      - ./client:/app
    environment:
      - NODE_ENV=development

  servidor:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - '3001:3001'
    volumes:
      - ./server:/app
    environment:
      - NODE_ENV=development
      - DATABASE_URL=postgres://your_username:your_password@bd:5432/your_database_name
    depends_on:
      - bd

  bd:
    image: postgres:16-alpine
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=your_username
      - POSTGRES_PASSWORD=your_password
      - POSTGRES_DB=your_database_name
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: